# Please check that [save_variables] is above [ace] if you're using different config
[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[respond]

[ace]
#serial: /dev/serial/by-id/usb-ANYCUBIC_ACE_1-if00
serial: /dev/ttyACM0
baud: 115200
# Default feeding speed, 10-25 in stock
feed_speed: 80
# Default retraction speed, 10-25 in stock
retract_speed: 80
# Length of the retract to make for toolchange
toolchange_retract_length: 150
#toolhead_sensor_to_nozzle: 62
toolchange_load_length: 630
# Length of bowden tube between the ACEPRO and the splitter (default: 1000mm)
bowden_tube_length: 1000
# Park to toolhead hit count, default is 5, can be lowered if your setup works stably on lower values
#park_hit_count: 16
max_dryer_temperature: 55
# Disables feed assist after toolchange. Defaults to true
#disable_assist_after_toolchange: true
toolhead_sensor_to_nozzle: 50
extruder_sensor_pin: PE9
toolhead_sensor_pin: !extra_mcu:PA3

[gcode_macro CUT_TIP]
gcode:
    RESPOND TYPE=echo MSG="CUTING..."
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    SAVE_GCODE_STATE NAME=my_move_up_state
    M117 Cutting
    G1 X25 F6000
    G1 Y0 F6000
    M400
    G1 X10 F600
    G1 X25 F6000
    G1 X10 F600
    G1 X25 F6000
    M400
    FORCE_MOVE STEPPER=extruder DISTANCE=-50 VELOCITY=10
    M117 CUT DONE...
    M400
    RESPOND TYPE=echo MSG="CUT DONE"
    RESTORE_GCODE_STATE NAME=my_move_up_state MOVE=1 MOVE_SPEED=200

[gcode_macro _ACE_PRE_TOOLCHANGE]
variable_purge_temp_min: 240
gcode:
    {action_respond_info("Doing Pre toolchange")}
    SAVE_GCODE_STATE NAME=TOOLCHANGE
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    G91
    G1 Z2 F100                 ; Up Z slightly
    M400
    G90                        ; Return to absolute positioning
    G1 X125 Y360 F6000
    M400
    {% if printer.extruder.temperature < purge_temp_min %}
	{% if printer.extruder.target < purge_temp_min %}
          M109 S{purge_temp_min}
        {% else %}
          TEMPERATURE_WAIT SENSOR=extruder MINIMUM={purge_temp_min}
        {% endif %}
     {% endif %}

    #G92 E0
    {action_respond_info("Doing Toolchange")}



[gcode_macro _ACE_POST_TOOLCHANGE]
gcode:
    {action_respond_info("Doing Post toolchange")}
    G91
    G1 Z-2 F100                 ; Lower back Z slightly
    M400
    G90                        ; Return to absolute positioning
    #CLEAN NOZZLE
    #G1 X300 Y356 F1200
    #G1 X320 Y356 F1200
    #M400
    RESTORE_GCODE_STATE NAME=TOOLCHANGE MOVE=1 MOVE_SPEED=200

    {action_respond_info("Finish Toolchange")}


[gcode_macro _ACE_ON_EMPTY_ERROR]
gcode:
    {action_respond_info("Spool is empty")}
    {% if printer.idle_timeout.state == "Printing" %}
        PAUSE
    {% endif %}


[gcode_macro TR]
gcode:
    ACE_CHANGE_TOOL TOOL=-1

[gcode_macro T0]
gcode:
    ACE_CHANGE_TOOL TOOL=0

[gcode_macro T1]
gcode:
    ACE_CHANGE_TOOL TOOL=1

[gcode_macro T2]
gcode:
    ACE_CHANGE_TOOL TOOL=2

[gcode_macro T3]
gcode:
    ACE_CHANGE_TOOL TOOL=3

